body {
  margin: 0;
  height: 100vh;
  color: white;
  background-color: rgb(75, 75, 75);
}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 10% auto 10%;
  grid-template-areas: 
    "header header"
    "sidenav content"
    "footer footer";
}

#header, #content, #sidenav, #footer  {
}
.mens{
  font-size: 20px;
  padding: auto;
}

#header {
  grid-area: header;
}
#content {
  grid-area: content;
  display: flex;
  flex-wrap: wrap;
}
#footer {
  grid-area: footer;
  text-align: center;
}
#sidenav {
  grid-area: sidenav;
}

.block {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
}
#rodape {
 border: 1px solid blue;
}

#botao {
  border-radius: 15px;
  background-color: rgb(25, 0, 255);
  color: white;
  float: right;
  padding: 10px;
  margin-top: 25px;
  margin-right: 35px;
  size: 20px;
  width: 70px;
  }
  

  .nav{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 25px;
  }
  .btnlogin{
    float: right;
    size: 35px;
  }

  .one{
    background-color: rgb(62, 41, 255);
  }

  .tree{
    background-color: rgb(62, 41, 255);
  }

  .ultimo{
    width: 1370px;
  }